{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Template</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Welcome to the Parent Template</h1>
    <img src="{% static 'images/netflix.webp' %}" alt="Netflix" width="300">
    
    {% block content %}
    <!-- This is where child templates insert content -->
    {% endblock %}
    {% include 'footer.html' %}
</body>
</html>
